<%- include("partials/header");-%>

<!-- DESKTOP VIEW -->
<div id="content-desktop">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/chris-benson-oUEGAodgW38-unsplash.jpg" class="d-block w-100 first-slide-blur-effect banner"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__bounceInRight  animate__delay-1s">WHO WE ARE</h5>
          <p class="animate__animated animate__bounceInLeft  animate__delay-2s">A charitable Foundation that provides
            exceptional
            needs that support Children and Adult in Deprived Areas.</p>
        </div>
      </div>


      <div class="carousel-item">
        <img src="images/michael-mims-ISczHsDwK1M-unsplash.jpg" class="d-block w-100 banner" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__bounceInLeft  animate__delay-1s specified-font">RELIANCE CHARITY
            FOUNDATION PROJECT </h5>
          <p class="animate__animated animate__fadeInUp  animate__delay-2s ">"Empowering the faints"</p>
        </div>
      </div>


      <div class="carousel-item">
        <img src="images/frank-mckenna-EgB1uSU5tRA-unsplash.jpg" class="d-block w-100 banner" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__zoomIn  animate__delay-1s">WHY WE HELP</h5>
          <p class="animate__animated animate__fadeInLeft  animate__delay-2s ">To put smiles on
            the face of the destitute Kids.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="images/JejShY.jpg" class="d-block w-100 banner " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__zoomIn  animate__delay-1s">WHY WE HELP</h5>
          <p class="animate__animated animate__fadeInRight  animate__delay-2s ">
            To help the Vulnerable
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="images/annie-spratt-yrzBgqapG1I-unsplash.jpg" class="d-block w-100 last-slide-blur-effect banner"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__zoomIn  animate__delay-1s">WHY WE HELP</h5>
          <p class="animate__animated animate__fadeInRight  animate__delay-2s ">
            To provide food, an effective environment, assist in health issues and Christian training to those in need
            of it.
          </p>
        </div>
      </div>


      <div class="carousel-item">
        <img src="images/oldwinnies.jpg" class="d-block w-100 last-slide-blur-effect" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__zoomIn  animate__delay-1s">WHY WE HELP</h5>
          <p class="animate__animated animate__fadeInRight  animate__delay-2s ">
            To provide support to Widows and Adults in Deprived Areas.
          </p>
        </div>
      </div>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
<!-- DESKTOP VIEW ENDS HERE -->


<!-- MOBILE VIEW -->
<div id="content-mobile">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- chris-benson-oUEGAodgW38-unsplash.jpg -->
        <img src="images/rcfp-logo.jpg" class="d-block w-100 mobile-blur-effect " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- animate__heartBeat -->
          <h5 class="animate__animated animate__heartBeat  animate__delay-1s">WHO WE ARE</h5>
          <p class="animate__animated animate__bounceInLeft  animate__delay-2s">A charitable Foundation that provide
            exceptional
            need that support Children and Adult in Deprived Areas.</p>
        </div>
      </div>


    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>  -->
  </div>

</div>


</section>



<section id="aboutUs" class="aboutUS">
  <div id="content-desktop" class="container-fluid my-3 py-5 text-center">
    <div class="row mb-5">
      <div class="col">
        <h1>About Us</h1>
      </div>
    </div>
    <div class="row about-us">

      <!-- VISION CIRCLE -->
      <!-- animate__repeat-1	1 -->
      <div class="col-lg-3 col-md-6 animate__animated animate__pulse  animate__delay-2s 2s ">
        <div class="circle ">
          <div class="circle__inner">
            <div class="circle__wrapper">
              <div class="circle__content">
                <h3>Vision</h3>
                <h6>The aim of Reliance Charity Foundation is to give
                  hope to the vulnerable and put smiles on the face of the
                  destitute kids through Christian Training.As Psalm 82:3
                  says "Defend the weak and the fatherless.Uphold the cause of
                  the fatherless and the poor"
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MISSION CIRCLE -->
      <div class="col-lg-3 col-md-6 animate__animated animate__pulse  animate__delay-3s 3s">
        <div class="circle">
          <div class="circle__inner">
            <div class="circle__wrapper">
              <div class="circle__content">
                <h3>Mission</h3>
                <h6>To provide exceptional needs that support children and adult in deprived areas.
                  Also,provide sustainable development and assistance that meets
                  the despairing nerds of the vulnerable communities.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PROJECTS WE UNDERTAKE CIRCLE -->
      <div class="col-lg-3 col-md-6 animate__animated animate__pulse  animate__delay-4s 4s">
        <div class="circle">
          <div class="circle__inner">
            <div class="circle__wrapper">
              <div class="circle__content">
                <h3>Projects We Undertake</h3>
                <h6>Health</h6>
                <h6>Education</h6>
                <h6>Christian Training</h6>
                <h6>Feeding</h6>
                <h6>Environment</h6>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- TARGET BENEFICIARIES CIRCLE -->
      <div class="col-lg-3 col-md-6 animate__animated animate__pulse  animate__delay-5s 5s ">
        <div class="circle">
          <div class="circle__inner">
            <div class="circle__wrapper">
              <div class="circle__content">
                <h3>Target Beneficiaries</h3>
                <h6>Children</h6>
                <h6>Windows</h6>
                <h6>Orphans</h6>
                <h6>Adult</h6>
                <h6>Street Children</h6>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- row ends here -->

  </div>

  </br>
  <!-- MOBILE VERSION OF ABOUT US -->
  <div id="content-mobile">
    <!-- title for the about section -->
    <div class="row mb-5">
      <div class="col">
        <h1>
          <center>About Us</center>
        </h1>
      </div>
    </div>
    <div class="vision  boxed">
      <h3>
        <center>Vision</center>
      </h3>
      <h6>The aim of Reliance Charity Foundation is to give
        hope to the vulnerable and put smiles on the face of the
        destitute kids through Christian Training.As Psalm 82:3
        says "Defend the weak and the fatherless.Uphold the cause of
        the fatherless and the poor"
      </h6>

    </div>
    <br>
    <br>
    <div class="mission boxed">
      <h3>
        <center>Mission</center>
      </h3>
      <h6>To provide exceptional needs that support children and adult in deprived areas.
        Also,provide sustainable development and assistance that meets
        the despairing nerds of the vulnerable communities.
      </h6>
    </div>
    <br>
    <br>
    <div class="projects-we-undertake boxed">
      <h3>
        <center>Projects We Undertake</center>
      </h3>
      <h6>
        <center>Education</center>
      </h6>
      <h6>
        <center>Christian Training</center>
      </h6>
      <h6>
        <center>Feeding</center>
      </h6>
      <h6>
        <center>Environment</center>
      </h6>

    </div>
    <br>
    <br>
    <div class="target-beneficiaries boxed ">
      <h3>
        <center>Target Beneficiaries</center>
      </h3>
      <h6>
        <center>Children</center>
      </h6>
      <h6>
        <center>Windows</center>
      </h6>
      <h6>
        <center>Orphans</center>
      </h6>
      <h6>
        <center>Adults</center>
      </h6>
      <h6>
        <center>Street Children</center>
      </h6>
    </div>

  </div>

</section>

<hr>

<section id="team">
  <div class="container-fluid my-3 py-5 text-center">
    <div class="row mb-5">
      <div class="col heading">
        <h1>Meet the Team</h1>
      </div>
    </div>

    <br /><br />
    <div class="row">
      <!-- FOUNDER CARD -->
      <!-- <div class="members-container"> -->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInLeft animate__delay-1s	1s">
        <div class="card">
          <div class="card-body">
            <img src="images/founder-profile2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">


            <h3>Osei Eric Owiredu</h3>

            <h5 id="#titles">Founder</h5>

            <p>
              <%=founderContent.substring(0,200)+"..."%>
              <a href="/members/founder" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- </div> -->
      </div>

      <!-- FOUNDER CARD ENDS HERE -->

      <!-- GENERAL SECRETARY BEGINS HERE-->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInLeft  animate__delay-2s	2s">
        <!-- <div class="members-container"> -->
        <div class="card">
          <div class="card-body">
            <img src="images/esther-safoa-opoku-General-secretary.jpg" alt=""
              class="img-fluid esther-rounded-circle w-50 mb-3">
            <h3>Esther Safoa Opoku</h3>
            <h5 id="#titles">General Secretary</h5>
            <p>
              <%=secretaryContent.substring(0,200)+"..."%>
              <a href="/members/generalSecretary" +> Read More </a>

            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- </div> -->

        </div>
      </div>

      <!-- GENERAL SECRETARY CARD ENDS HERE -->



      <!-- P.R.O  BEGINS HERE-->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInLeft  animate__delay-3s 3s">
        <!-- <div class="members-container"> -->
        <div class="card">
          <div class="card-body">
            <img src="images/mensah-stephen-PRO.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Mensah Stephen</h3>
            <h5 id="#titles">P.R.O</h5>
            <p>
              <%=proContent.substring(0,200)+"..."%>
              <a href="/members/pro" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- </div> -->

        </div>
      </div>


      <!--  P.R.O CARD ENDS HERE -->


      <!--  ORGANIZER  BEGINS HERE-->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInLeft  animate__delay-4s 4s">
        <div class="card">
          <div class="card-body">
            <img src="images/johnson-emmanuel-egyire-organizer.jpg" alt=""
              class="img-fluid organizer-rounded-circle w-50 mb-3">
            <h3>Johnson Emmanuel Egyire</h3>
            <h5 id="#titles">Organizer</h5>
            <p>
              <%=organizerContent.substring(0,200)+"..."%>
              <a href="/members/organizer" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- ORGANIZER CARD ENDS HERE -->

    </div>
    <!-- row ends here -->

    <hr>
    <!-- <br/>
  <br/>
  <br/> -->
    <div class="row">
      <!-- DIRECTOR CARD -->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInRight  animate__delay-1s 1s">
        <div class="card">
          <div class="card-body">
            <img src="images/richard-assiwu-director.jpg" alt="" class="img-fluid richard-rounded-circle w-50 mb-3">
            <h3>Richard Assiwu</h3>
            <h5 id="#titles">Director</h5>
            <p>
              <%=directorContent.substring(0,200)+"..."%>
              <a href="/members/director" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- DIRECTOR CARD ENDS HERE -->

      <!-- HEAD OF LOGISTICS BEGINS HERE-->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInRight  animate__delay-2s 2s">
        <div class="card">
          <div class="card-body">
            <img src="images/arthur-williams-head-of-logistics.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Arthur Williams</h3>
            <h5 id="#titles">Head of Logistics</h5>
            <p>
              <%=headOfLogisticsContent.substring(0,200)+"..."%>
              <a href="/members/logistics" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://ww.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- HEAD OF LOGISTICS CARD ENDS HERE -->



      <!-- HEAD OF MEDIA AND PUBLICITY  BEGINS HERE-->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInRight  animate__delay-3s 3s">
        <div class="card">
          <div class="card-body">
            <img src="images/degraft-amihere-Head-of-Media-and-Publicity.jpg" alt=""
              class="img-fluid degraft-rounded-circle w-50 mb-3">
            <h3>De-Graft Amihere</h3>
            <h5 id="#titles">Head of Media and Publicity</h5>
            <p><%=headOfMediaAndPublicityContent.substring(0,200)+"..."%>
              <a href="/members/headOfMediaAndPublicity" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- HEAD OF MEDIA AND PUBLICITY CARD ENDS HERE -->


      <!-- TREASURER BEGINS HERE-->
      <div class="col-lg-3 col-md-6 animate__animated animate__bounceInRight  animate__delay-4s 4s">
        <div class="card">
          <div class="card-body">
            <img src="images/janet-quarshie-treasurer.jpg" alt="" class="img-fluid janet-rounded-circle w-50 mb-3">
            <h3>Janet Quarshie</h3>
            <h5 id="#titles">Treasurer</h5>
            <p>
              <%=treasurerContent.substring(0,200)+"..."%>
              <a href="/members/treasurer" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- TREASURER CARD ENDS HERE -->


    </div>
    <!-- row ends here -->


    <hr>
    
    <!-- <br/>
  <br/>
  <br/> -->
    <!-- NEW ROW FOR WELFARE OFFICER BEGINS HERE -->
    <div class="row ">
    
      <!-- WELFARE OFFICER BEGINS HERE-->
      
      <div class="col-lg-3 col-md-5 welfareCenter animate__animated animate__bounceInLeft  animate__delay-5s 5s">
      
          <div class="card">
            <div class="card-body">
              <img src="images/nimarko-bernice-afrima-welfare-officer.jpg" alt=""
                class="img-fluid bernice-rounded-circle w-50 mb-3">
              <h3>Nimarko Bernice Afrima</h3>
              <h5 id="#titles">Welfare Officer</h5>
              <p>
                <%=welfareOfficerContent.substring(0,200)+"..."%>
                <a href="/members/welfareOfficer" +> Read More </a>
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="https://www.facebook.com">
                    <i class="social-icon fab fa-facebook"></i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="https://www.twitter.com">
                    <i class="social-icon fab fa-twitter"></i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="https://www.instagram.com">
                    <i class="social-icon fab fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
    
        

      </div>
      <!-- WELFARE OFFICER CARD ENDS HERE -->
        

    </div>

    <br/>
    <br/>
    <div class="row">
      <!-- FINANCIAL SECRETARY OFFICER BEGINS HERE-->
      
      <div class="col-lg-3 col-md-5 welfareCenter animate__animated animate__bounceInLeft  animate__delay-5s 5s">
      
        <div class="card">
          <div class="card-body">
            <img src="images/obeng-tawiah-patrick-financial-secretary.jpg" alt=""
              class="img-fluid bernice-rounded-circle w-50 mb-3">
            <h3>Obeng Tawiah Patrick </h3>
            <h5 id="#titles">Financial Secretary</h5>
            <p>
              <%=financialSecretaryContent.substring(0,200)+"..."%>
              <a href="/members/financialSecretary" +> Read More </a>
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com">
                  <i class="social-icon fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.twitter.com">
                  <i class="social-icon fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com">
                  <i class="social-icon fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
    </div>
    <!-- FINANCIAL SECRETARY CARD ENDS HERE -->
    </div>



    <br/>
    <br/>

  
    </div>


  </div>



</section>


<%- include("partials/footer");-%>